<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>管理端</title>
    <script src="/js/jquery.js" charset="utf-8"></script>
    <script src="/js/bootstrap.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="page-wrap">
      <div class="page-menu">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" class="active"><a href="#">房源</a></li>
          <li role="presentation"><a href="#">友情链接</a></li>
          <li role="presentation"><a href="#">广告管理</a></li>
        </ul>
      </div>
      <div class="page-content">
        <div class="navbar navbar-default">
          <form class="navbar-form navbar-left" action="index.html" method="post">
            <div class="form-group" style="margin-right:20px;">
              <button id="btn_add"  type="button" class="btn btn-default glyphicon glyphicon-plus">新建</button>
            </div>
            <div class="form-group" style="margin-right:20px;">
              <button id="btn_del" type="button" class="btn btn-default glyphicon glyphicon-remove">删除</button>
            </div>
            <div class="form-group">
              <input type="search" class="form-control">
              <button type="button" class="btn btn-default">搜索</button>
            </div>
          </form>
        </div>
        <nav aria-label="Page navigation">
          <ul class="pagination margin-0">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        <table class="table">
          <thead>
            <tr>
              <th width="300">
                <label>
                  <input type="checkbox">
                  ID
                </label>
              </th>
              <th width="400">标题</th>
              <th>均价</th>
              <th>电话</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach(json=>{ %>
            <tr>
              <td>
                <label>
                  <input type="checkbox" name="ID_check" value="<%=json.ID%>">
                  <%=json.ID%>
                </label>
              </td>
              <td><%=json.title%></td>
              <td><%=json.ave_price%></td>
              <td><%=json.tel%></td>
              <td>
                <a href="javascript:;">编辑</a>
                <a href="/admin/house/delete?id=<%=json.ID%>" onclick="return confirm('你确定删除这个房屋信息吗？删除不可撤销')">删除</a>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="shadow"></div>
    <div id="dialog" class="panel panel-default add_modify_dialog">
      <div class="panel-heading">
        <h3 class="panel-title">
          添加/修改
          <a id="btn_close" href="#" class="pull-right glyphicon glyphicon-remove"></a>
        </h3>
      </div>
      <div class="panel-body" style="overflow:auto; height:460px;">
        <form class="form-horizontal" method="post" action="/admin/house" enctype="multipart/form-data">
          <div id="form_contrainer">

          </div>

          <!--<div class="form-group">
            <label for="id1" class="col-sm-2 control-label">数据1</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="id1" placeholder="请输入数据...">
            </div>
          </div>
        -->

          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="submit" class="btn btn-primary">提交</button>
              <button id="btn_cancel" type="button" class="btn btn-danger">取消</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script>
  // open or close window
    $("#btn_add").click(function(){
      console.log("add");
      $('#shadow').show();
      $('#dialog').show();
    });

    $("#btn_close,#btn_cancel").click(function(){
      console.log("delete");
      $('#shadow').hide();
      $('#dialog').hide();
    });

    //create form
    const form_inputs=[
      {type: 'text', name: 'title', title: '标题'},
      {type: 'text', name: 'sub_title', title: '副标题'},
      {type: 'text', name: 'position_main', title: '主位置'},
      {type: 'text', name: 'position_second', title: '副位置'},
      {type: 'number', name: 'ave_price', title: '均价'},
      {type: 'number', name: 'area_min', title: '最小面积'},
      {type: 'number', name: 'area_max', title: '最大面积'},
      {type: 'tel', name: 'tel', title: '电话'},
      {type: 'date', name: 'sale_time', title: '开盘日期'},
      {type: 'date', name: 'submit_time', title: '交房日期'},
      {type: 'text', name: 'building_type', title: '建筑类型'},
      {type: 'file', name: 'main_img', title: '大图'},
      {type: 'file', name: 'img', title: '小图(多选)', multiple: true},
      {type: 'text', name: 'property_types', title: '户型'},
      {type: 'file', name: 'property_img', title: '户型图'},
    ];

    $('#form_contrainer').html("");
    for(let i=0;i<form_inputs.length;i++){
      var type = form_inputs[i].type;
      var name = form_inputs[i].name;
      var title = form_inputs[i].title;
      var multiple = form_inputs[i].multiple;
      var template = `
      <div class="form-group">
        <label for="id_addHouse_${i}" class="col-sm-2 control-label">${title}</label>
        <div class="col-sm-10">
          <input type="${type}" ${multiple?'multiple':''} name="${name}" class="form-control" id="id_addHouse_${i}" placeholder="请输入${title}">
        </div>
      </div>`;
      $('#form_contrainer').append(template);
    }

    //batch delete files
    $("#btn_del").click(function(){
      let arr=[];
      let aCheck=Array.from(document.getElementsByName('ID_check'));
      aCheck.forEach(ch=>{
        if(ch.checked){
          arr.push(ch.value);
        }
      });

      if(arr.length==0){
        alert('请选择要删除的东西');
      }else{
        console.log("arr.length="+arr.length);
        console.log("ids="+arr.join(","));


        let url=`/admin/house/delete?id=${encodeURIComponent(arr.join(','))}`;

        if(confirm(`您真的要删除这${arr.length}条数据吗?`)){
          window.location=url;
        }
      }
    });




  </script>
</html>
